.auth-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
}

.auth-box {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.auth-box input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

.auth-box button {
  padding: 10px;
  width: 100%;
  cursor: pointer;
}
